.App {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding:0;
  position: relative;
}

.GymPage, .UserPage {
  min-height: 100vh;
  min-width: 320px;
  color: white;
}

.GymPage {
  background-color: rgb(41, 41, 202);
}

.UserPage {
  background-color: rgb(69, 189, 89);
}

@media only screen and (max-width: 1200px) {
  
  .App{

    width: 960px;
    
  }

}

@media only screen and (max-width: 960px) {
  
  .App{

    width: 720px;
    
  }
  
}

@media only screen and (max-width: 720px) {
  
  .App{

    width: 540px;
    
  }
  
}

@media only screen and (max-width: 540px) {
  
  .App{

    width: 100%;
    
  }
  
}
